*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    list-style: none;
    text-decoration: none;
    cursor: default;
}

:root{
    --color-uno: #0a0908;
    --color-dos: #5e503f;
    --color-tres: #C6AC8F;
    --color-cuatro: #22333B;
    --color-cinco: #EAE0D5;

    --font-uno: 'Rye', serif;
    --font-dos: 'Dosis', sans-serif;
}


body{
    background-color: var(--color-cinco);
}

/* HEADER  */

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.2rem;
    margin-bottom: 1rem;
    background-color: var(--color-tres);
    font-size: 1.3rem;
}

.index {
    color: var(--color-cinco);
    font-family: var(--font-uno);
    text-shadow: 1px 1px 1px #000;
}

.carrito{
    cursor: pointer;
    font-size: 2rem;
}

.numerito-carro {
    color: var(--color-cuatro);
    font-size: 1.5rem;
}

/* PRODUCTOS  */
.contenedor-productos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem auto;
    justify-content: center;
    padding: 1.1rem;
}

.producto{
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
}
.producto:hover{
    box-shadow: 8px 8px 12px rgba(0,0,0,0.7);
}
.contenedor-detallado{
    margin: 2rem auto;
    display: flex;
    justify-content: center;
}
.contenedor{
    border: 2px solid;
    width: 30rem;
    background-color: var(--color-tres);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem;
}

.titulo-tarjeta{
    font-family: var(--font-dos);
    font-size: 1.4rem;
    color: var(--color-cinco);
}

.img-tarjeta{
    width: 100%;
}

.btn-tarjeta{
    padding: 0.3rem;
    width: 5rem;
    background-color: var(--color-cuatro);
    border: none;
    border-radius: 0.2rem;
    color: var(--color-cinco);
}


.btn-tarjeta:hover{
    background-color: var(--color-dos);
    color: var(--color-cinco);
    cursor: pointer;
}

/* FOOTER */

footer{
    width: 100%;
    font-size: 1.3rem;
    padding: 1rem;
    text-align: center;
    color: #fff;
    background-color: #000;
}